[Unit]
Description=RAG Knowledge Base Flask API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/aws-rag-kb-app
EnvironmentFile=/opt/aws-rag-kb-app/.env
ExecStart=/usr/bin/python3 -m gunicorn -w 2 -b 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
